@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply h-full bg-white;
  }
  body {
    @apply h-full;
  }
}

* {
  font-family: "Inter";
}

#App {
  height: 100%;
}

#root {
  height: 100%;
}

.my-bg-gradient {
  background: linear-gradient(
    270deg,
    rgba(253, 205, 84, 0.651) 0%,
    rgba(251, 151, 253, 0.644) 52.08%,
    rgba(255, 234, 115, 0.411) 100%
  );
}

.signup-form-bg {
  background: url("../image/Component7.png") scroll no-repeat;
}

.login-form-bg {
  background: url("../image/Component8.png") scroll no-repeat;
}

.chat-bg {
  background: url("../image/chat-background.png") no-repeat;
  background-size: cover;
}

.home-bg {
  background: url("../image/home-bg.png") no-repeat;
  background-size: cover;
}

.max-w-size {
  max-width: 100rem;
}

.list-style-arrow {
  list-style-image: url("../image/arrow.svg");
}

.list-style-tag {
  list-style-image: url("../image/hashtag.svg");
}

.textarea {
  width: 100%;
}

.textarea::placeholder {
  color: #d9d9d9;
}
